{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('app_user_show', { 'id': user.id }) }}">{{ user.username }}</a>
                </td>
                <td>{{ user.email }}</td>
                <td>{% if user.birthdate %}{{ user.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_user_show', { 'id': user.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
